<script src="js/navbar.js"></script>


<nav class="menu">
  <ol>
    <li class="menu-item"><a href="#Home" onclick="openCity('item1')">Home</a></li>
    <li class="menu-item"><a href="#SobreMim" onclick="openCity('item2')">About</a></li>
    <li class="menu-item">
      <a href="#" onclick="openCity('item3')">Redes Sociais</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="https://www.youtube.com/channel/UCxDgnH4Xme0uojhk_pqDKcg/featured" target="_blank">Canal YouTube</a></li>
        <li class="menu-item"><a href="https://www.instagram.com/aadconsultoriaacademica/" target="_blank">Instagram</a></li>
        <li class="menu-item"><a href="http://facebook.com" target="_blank">Facebook</a></li>
      </ol>
    </li>
    <li class="menu-item">
      <a href="#" onclick="openCity('item4')">Sobre mim</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="#" onclick="openCity('item4')">Timeline</a></li>
        <li class="menu-item"><a href="https://lattes.cnpq.br/" target="_blank">Lattes</a></li>
      </ol>
    </li>
    <li class="menu-item"><a href="#Quemjacontratou" onclick="openCity('item5')">Quem ja contratou</a></li>
  </ol>
</nav>
